.add-user-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 4rem 2rem;
    padding: 1.5rem;
    color: #ffaaa7;
    font-size: 1.5rem;
    background: rgba(0, 0, 255, 0.074);
    height: 100%;
}

.add-user-form input {
    align-self: center;
    font-size: 1rem;
    outline: none;
    border-radius: 6px;
    border: 1px solid;
    padding: .5rem;
    margin-bottom: 1rem;
    height: 2rem;
    box-shadow: 10px;
    box-shadow: 2px 2px rgba(0,0,0, 0.26);
    background: #f8e0ce
}

.add-user-form label {
    display: inline-block;
    align-self: center;
    font-size: 2.3rem;
    -webkit-text-stroke: 1px #735b4b;
    
}

.add-user-form button {
    box-shadow: 1px 1px rgba(0,0,0, 0.1);
    width: 12rem;
    justify-self: center;
    background: #ffd3b4c4;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
}


  