.list {
	font-weight: bold;
	display: flex;
	padding: 1rem 2rem;
	color: #ffaaa7;
	background: rgba(0, 0, 255, 0.074);
	height: auto;
	max-width: 50%;
	margin: 1rem auto;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.26);
	border: 1px solid black;
}

@media (max-width: 470px) {
	.list {
		max-width: 80%;
	}
}

.list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0.1rem;
	list-style-type: none;
	min-width: 100%;
	max-width: 35rem;
}

.list li {
	box-shadow: 2px 2px rgba(1, 37, 81, 0.66);
	background: #f8e0ce;
	color: #0f1e19;
	font-size: 1.4rem;
	max-width: 100%;
	min-width: 90%;
	border-radius: 6px;
	border: 1px solid black;
	margin: 0.5rem;
	padding: 1.2rem;
	flex-wrap: wrap;
}

.list li:hover {
	box-shadow: 3px 3px rgba(1, 37, 81, 0.66);
}
